<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords content="radixdlt, radix, xrd, coinmarketcap, ociswap, delphibets, radorables, token, defi, bitcoin, ethereum, validator, stake, staking, cerberus, ledger, blockchain"/>
  <meta name="revised" content="radorables, date_last_edited: 25/10/2022"/>
  <meta name="author" content="radorables"/>


  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | prepend: site.baseurl }}">

  
</head>
