@font-face {
    font-family: 'Baloo Bhaijaan';
    src: url('../../assets/fonts/Baloo Bhaijaan Regular 400.ttf');
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #ffd996;
    font-family: "Baloo Bhaijaan", sans-serif !important
}
.navbar {
    background:#ffd996;
}
.nav-link,
.navbar-brand {
    color: #431b00;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #ff5e0e;
}
.navbar-collapse {
    justify-content: flex-end;
}

.h1 {
  color: #ff5e0e;
}

.h3 {
  color: #ff5e0e;
}

.text--highlight {
 color:#ff5e0e;
 font-size: 150%;
}

.enterimage {
  
}

#nav-social {
 display:flex;
 flex-direction:row;
 margin-left:10px;
 margin-right:20px;
 width:max-content
}

.social-icon {
 color:#431b00;
 padding:20px 10px;
 transition:.3s
}
.social-icon:hover {
 caret-color:transparent;
 color:#ff5e0e
}

.list-group-item.active {
	color: #000;
	background-color: #e5c387;
	border-color: #e5c387;
}

.list-group-item {
	position: relative;
	color: #000;
	text-decoration: none;
	background-color: #ffe0ab;
  border-color: #e5c387;
}

@media only screen and (min-width: 992px) {
 .social-icon {
  padding:20px
 }
}
